
/*format screen*/
* {
    margin: 0;
    padding: 0;
    font-family: "Onest", sans-serif;
    box-sizing: border-box;
}

/*full screen*/
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}


/*main div*/
.div-main{
    padding: 0 6em 0 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*left div*/
.left-div {
    display: flex;
    width: 30vw;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
/*right div*/
.right-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*logo*/
.logo{
    width: 6em;
    margin: 6px 0  6px 0;
}

/*image clock*/
.image {
    width: 20vw;
}

/*title clock*/
.title {
    font-weight: 300;
    margin: 6px 0  6px 0;
}

/*desciption clock*/
p{
    margin: 6px 0  6px 0;
}

/*price*/
.price{
    font-size: 25px;
    font-weight: 500;
    margin: 6px 0  6px 0;
}

/*button purchase*/
 a {
    width: 40%;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    margin: 6px 0  6px 0;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    background: #105134;
    cursor: pointer;
}

/*effect when mouse over button*/
a:hover {
    background: #196d47;
    transition: all 0.5s ease-out;
}

/*payment via paid market, secure environment*/
.info {
    font-size: 12px;
    margin: 6px 0  6px 0;
}

/*footer*/
.div-footer {
    background: #105134;
    margin: 0;
    bottom: 0;
    height: 40px;
    position: fixed;
    width: 100%;
    justify-content: center;
}

.footer {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    padding: 12px;
}

/*Developed by Witor Linhares*/